<div class="container disconnect-buttons hide">
  <button id="button-save" class="btn btn-lg btn-primary">Save Session as HTML Log</button>
  <button id="button-reconnect" class="btn btn-lg btn-primary">Reconnect Now</button>
  <div id="save-log-status" hidden></div>
</div>
