<div id="disconnect-overlay" class="hide"></div>
<div id="scroll-overlay" class="hide"></div>
<div id="clear-buffer-overlay" class="hide" role="dialog" aria-modal="true" aria-labelledby="clear-buffer-title">
  <div class="clear-buffer-content">
    <h4 id="clear-buffer-title">Clear Buffer?</h4>
    <p>This will remove all current output from the screen.</p>
    <div class="clear-buffer-actions">
      <button id="button-clear-buffer-cancel" class="btn btn-default btn-sm" type="button">Cancel</button>
      <button id="button-clear-buffer-confirm" class="btn btn-danger btn-sm" type="button">Clear Buffer</button>
    </div>
  </div>
</div>
