<div id="shortcuts-overlay" class="hide">
  <div class="shortcuts-content">
    <h4>Keyboard Shortcuts</h4>
    <ul>
      <li><strong>Pause/Break</strong> - Toggle auto scroll</li>
      <li><strong>Home</strong> - Focus the input</li>
      <li><strong>Insert</strong> - Send a quick command</li>
      <li><strong>Up Arrow</strong> - Previous command in history</li>
      <li><strong>Down Arrow</strong> - Next command in history</li>
    </ul>
  </div>
</div>
