node_modules
.env
coverage/
public/*
!public/legacy/
!/public/CHANGELOG.md
!public/favicon.ico
!public/notice.wav
!public/fonts/
!public/fonts/**
!public/img/
!public/img/**
!public/css/
public/css/*
!public/css/dome-extract.css
tmp/
test-output.log
webclient.log
npm-debug.log
nohup.out
play.sindome.org.pem
play.sindome.org.crt
data/multi-mud-metrics.json
data/multi-mud-metrics.json.tmp
data/multi-moo-metrics.json
data/multi-moo-metrics.json.tmp
